rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{messages}/{documentId} {
      allow read, write : if messages != "users";
    }
  }
}